html,button,input,select,textarea {
	color: #F1F1EF;
	
}
html {
	font-size: 1em;
	line-height: 1.4;
}

h3 {
	color: #C19434;
	font-weight: 900;
}

body{
	background-color: #22223A;
	margin-left: 120px;
	margin-right: 120px; 


}
a {
	text-decoration: none;
	color: #F1F1EF;

  }

#wrapper {
	max-width: 900px;
	min-width: 320px; 
	margin-right:auto;
	margin-left:auto;
	width: 100px;
	text-align: center;
}
img {
  border: 0.5px solid ;
  padding: 15px;
  border-image: url(asmae.jpg) 20 round;
  float:right;
  background-color: white;
  box-shadow: 0px 0px 0px 0.2; 
}

header {

	background-color: #7DA2A9
	color : #F7F7F7;
}

hr {
  border: 1px solid #EBA63F;
}

i{
	padding-right: 20px;
}

.relative2 {
  position: relative;

  background-color: white;
  width: 500px;
  height: 500px;
}